/* @keyframes slider {
  0% {
    width: 0%;
  }
  50% {
    width: 42%;
  }
  100% {
    width: 0%;
  }
}

@keyframes fadeText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.home .content .dynamicTitle li span {
  white-space: wrap;
  background-image: linear-gradient(to right, #ffe1a0, #f67280, #f94892);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

.home .content .dynamicTitle li span::before {
  content: "";
  width: 100%;
  height: 20%;
  z-index: -1;
} */
